body {
	background-color: #F9F5F4;
	color: #4E5F6E;
}

/* MENU -------------------------------------------------------------------- */
.navbar {
	background-color: #F9F5F4;
}

.navBar {
	/* width: 100%; */
	background-color: #F9F5F4;
}

.navIconText {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-link, .navbar-toggler {
	color: #4E5F6E;
}

.navbar-toggler {
	padding: 0.3em 0 0.2em;
}

.nav-link {
	padding: 1.2em 0;
	font-family: 'Cabin', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

.nav-link:link, .nav-link:visited {
	color: #4E5F6E;
}

.nav-link:hover {
	text-decoration: underline;
}

.navbar-collapse ul{
	color: #4E5F6E;
	/* height: auto; */
	text-transform: uppercase;
	background-color: #F9F5F4;
}

.navIconText {
	font-size: 0.8em;
	display: inline-block;
	height: 28px;
	vertical-align: middle;
}

/* NAVICON */

.navIcon {
  cursor: pointer;
  display: inline-block; }
  .navIcon .bar1, .navIcon .bar2, .navIcon .bar3 {
    background-color: #4E5F6E;
    border-radius: 2em;
    height: 2px;
    margin: 4px 0;
    transition: 0.4s;
    width: 20px; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px); }

.siteTitle {
	color: #4E5F6E;
	float: right;
	margin-right: 0;
	text-transform: uppercase;
}

.menuIconBtn {
	border: none;
}

/* SERVICES ------------------------------------------------------------------*/

.headerBanner {
	height: 300px;
	margin-top: 2.8em;
	margin-bottom: 1em;
	max-width: 100%;
	background-position: center right;
	background-size: cover;
	background-attachment: fixed;
}


/* HOME -------------------------------------------------------------------- */
.main {
	margin-top: 2.7em;
}

.swiper-wrapper {
	height: 50vh;
}

.carouselImgBg {
	background-position: center;
	background-size: cover;
	/* background-attachment: fixed; */
	height: 80vh;
}

.carouselTopLayerWrapper {
	left: 50%;
	position: absolute;
	top: 35%;
}

.carouselTopLayer {
	left: -50%;
	text-align: center;
	top: -50%;
	position: relative;
	width: 205px;
	z-index: 1080;
}

.landingText {
	font-family: 'Playfair Display', serif;
	font-size: 1.6em;
	font-weight: bolder;
	text-transform: uppercase;
}

/* Secondary Content home */

.secHomeRow{
	margin-bottom: 3em;
	margin-top: 3em;
}

.secHomeImgWrapper {
	height: 345px;
	max-height: 600px;
	padding: 0;
	width: 100%;
}
.secHomeImg {
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.secColWidth {
	max-height: 238px;
}

.secHomeTextWrapper {
	background-color: #FFFFFF;
}

.secHomeText {
	font-family: 'Cabin',sans-serif;
	padding: 1em;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

/* TESTIMONIALS */

.homeReviewsCol {
	margin-bottom: 1em;
	padding: 0;
	height: 290px;
	width: 100%;
}

.reviewWrapper {
	background-color: rgba(255,255,255,0.7);
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.quoteIconLeftWrap {
	margin-bottom: 2em;
}

.quoteIconLeft{
	text-align: left;
	float: left;
}

.quoteIconRightWrap {
	margin-top: 2em;
}

.quoteIconsWrap {
	width: 85%;
}

.quoteIcons {
	font-size: 1.3em;
}

.quoteIconRight{
	text-align: right;
	float: right;
}

.homeReviewTxt {
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
	padding: 0 1em;
	width: 289px;
}

.homeCusName {
	font-family: 'Playfair Display', serif;
	text-transform: capitalize;
	font-weight: 600;
}

/* FOOTER */
.footer {
	font-family: 'Cabin', sans-serif;
	margin: 4em 0 2em;
	text-align: center;
}

.copyright {
	font-weight: bold;
	text-transform: uppercase;
}

.socialMeds {
	color: #4E5F6E;
	text-transform: lowercase;
}


/* CONTACT ------------------------------------------------------------------ */

.form-control {
	border-radius: 0;
}

.submitBtnWrapper {
	text-align: center;
}

.contactBlurbWrap {
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
	margin: 1.9em 0 2em;
	text-align: center;
}

.form-group{
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
}

.submitBtn {
	border: 2px solid #4E5F6E;
	border-radius: 0;
	color: #4E5F6E;
	background-color: transparent;
	font-weight: 600;
	padding-left: 2.6em;
	padding-right: 2.6em;
}

.submitBtn:hover {
	color: white;
	background-color: #4E5F6E;
}

/* ABOUT ---------------------------------------------------------- */

.bannerTitleWrapCon {
	height: 100%;
	text-align: center;
}

.bannerOpac {
	background-color: rgba(255,255,255,0.6);
	max-width: none;
}

.bannerTitle {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
    font-weight: 800;
}

.aboutTextCon {
	margin-top: 1em;
	margin-bottom: 1em;
}

.aboutText, .aboutText p {
	font-family: 'Cabin', sans-serif;
	font-size: 0.9em;
}

.aboutTextCol {
	font-family: 'Cabin', sans-serif;
	font-size: 0.9em;
}

.teamTitle{
	font-family: 'Playfair Display', serif;
	font-size: 1.8em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.imgStaffWrap {
	height: 209px;
	width: 100%;
	overflow: hidden;
	background-size: contain;
}

.indivStaffImg {
	text-align: center;
	width: 100%;
    max-width: 500px;
    height: auto;
}

.staffName {
	font-family: 'Cabin', sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	margin-top: 0.6em;
	text-transform: uppercase;
}

.staffDesc {
	font-family: 'Cabin', sans-serif;
}

/* SERVICES */

.servicesCon {
	margin-top: 2em;
}

.serviceIconWrap {
	font-size: 2.3em;
}

.serviceName {
	font-size: 1.3em;
	font-family: 'Playfair Display', serif;
	margin-top: 0.5em;
	text-transform: capitalize;
}

.serviceDets {
	font-family: 'Cabin', sans-serif;
}

.serviceReview {
	font-weight: 900;
	font-style: italic;
}

#serviceDets {
	height: auto;
}

/* PREVIOUS WORK */

.workIcon {
	width: 49px;
	height: 49px;
    background-size: contain;
}

.viewMoreBtn:link {
	color: #4E5F6E;
	font-weight: 900;
}

.viewMoreBtn {
	color: #4E5F6E;
}

.viewMoreBtn:hover {
	color: #4E5F6E;
}

/* SINGLE POST FOR PREVIOUS WORK */

.singleError {
	font-family: 'Cabin', sans-serif;
}

.backBtnCon {
	margin-bottom: 1em;
}

.backBtnIcon {
	font-size: 1.2em;
	color: #4E5F6E;
}

.backBtnIcon:link {
	color: #4E5F6E;
}

.backBtnColor:hover{
	color: white;
}

.singleWorkImg {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}

.prevWorkFormTitle {
	font-family: 'Cabin', sans-serif;
	font-size: 1.5em;
}

.prevWorkFormDesc {
	font-family: 'Cabin', sans-serif;
}

.enquirySubject {
	text-transform: capitalize;
}

.errorMsgWrap {
	background-color: white;
    padding: 1.2em 0.1em;
}

.errorMessage {
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
}

.successMesageWrap  {
	background-color: white;
	font-weight: bold;
	padding: 1em;
}

.successMessageWrap, .successMessageWrap p {
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
	background-color: white;
	font-weight: bold;
	padding: 1em;
}

@media only screen and (min-width: 576px) {

	.secColWidth {
		max-height: 345px;
	}

	.landingText {
		font-size: 2.4em;
	}

	.carouselTopLayer {
		width: 500px;
	}

	.homeReviewsCol {
		max-width: 290px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 768px) {

	.secColWidth {
		max-width: 345px;
	}

	.secHomeImgWrapper {
		margin-left: auto;
	}

	.secHomeTextWrapper {
		margin-right: auto;
	}

	.contactContainer {
		padding-left: 3em;
		padding-right: 3em;
		max-width: 720px;
	}

	.imgStaffWrap {
		height: auto;
	}

	.aboutTextCon {
		max-width: 730px;
		margin-top: 2em;
		margin-bottom: 4em;
	}

	.aboutTextCol, .aboutTextCol p {
		background-color: white;
		padding: 2.2em;
	}
}

@media only screen and (min-width: 991.98px) {
	.navBar {
		width: auto;
	}

	.fixed-top {
		position: static;
	}

	.navbar-collapse ul {
		height:auto;
	}

	.containerWidthMain {
		max-width: 94vw;
	}

	.landingText {
		font-size: 3.1em;
	}

	.carouselTopLayer {
		width: 600px;
	}

	.secColWidth {
		height: 470px;
		max-width: 470px;
		max-height: 470px;
	}

	/* testimonials on home */
	.contactContainer {
		max-width: 720px;
	}

	.homeReviewsCol {
		max-width: 351px;
	    height: 351px;
	}

	.serviceName {
    	font-size: 1.7em;
	}
}
