@font-face {
  font-family: 'Playfair Display';
  src: url("../web-fonts/PlayfairDisplay-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
	background-color: #F9F5F4;
	color: #4E5F6E;
}

/* MENU -------------------------------------------------------------------- */
.navBar {
	width: 100vw;
	background-color: #F9F5F4;
}

.navIconText {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-link, .navbar-toggler {
	color: #4E5F6E;
}

.navbar-toggler {
	padding: 0.3em 0 0.2em;
}

.nav-link {
	padding: 1.2em 0;
	font-family: 'Cabin', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

.nav-link:link, .nav-link:visited {
	color: #4E5F6E;
}

.nav-link:hover {
	text-decoration: underline;
}

.navbar-collapse ul{
	color: #4E5F6E;
	height: 89vh;
	text-transform: uppercase;
	background-color: #F9F5F4;
}

.navIconText {
	font-size: 0.8em;
	display: inline-block;
	height: 28px;
	vertical-align: middle;
}

/*
.nav {
	position: fixed;
	width: 100vw;
	display: block;
	top: 0;
	z-index: 1080;
}

.menuList {
	display: block;
}

.headerCon {
	width: 100vw;
}
*/

/* NAVICON */

.navIcon {
  cursor: pointer;
  display: inline-block; }
  .navIcon .bar1, .navIcon .bar2, .navIcon .bar3 {
    background-color: #4E5F6E;
    border-radius: 2em;
    height: 2px;
    margin: 4px 0;
    transition: 0.4s;
    width: 20px; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px); }

.siteTitle {
	text-transform: uppercase;
	color: #4E5F6E;
	float: right;
}

.menuIconBtn {
	border: none;
}

/* HOME -------------------------------------------------------------------- */
.main {
	/* margin-top: 4em; */
}

.swiper-wrapper {
	height: 50vh;
}

.carouselImgBg {
	height: 80vh;
	background-size: cover;
	background-position: center;
}

.carouselTopLayerWrapper {
	position: absolute;
	left: 50%;
	top: 35%;
}

.carouselTopLayer {
	left: -50%;
	text-align: center;
	top: -50%;
	position: relative;
	width: 205px;
	z-index: 1080;
}

.landingText {
	font-family: 'PlayfairDisplay', serif;
	font-size: 1.6em;
	font-weight: bolder;
	text-transform: uppercase;
}

.footer {
	font-family: 'Cabin', sans-serif;
	text-align: center;
}

.copyright {
	font-weight: bold;
	text-transform: uppercase;

}

.socialMeds {
	text-transform: lowercase;
}


@media only screen and (min-width: 991.98px) {
	.navBar {
		width: auto;
	}

	.fixed-top {
		position: static;
	}

	.navbar-collapse ul {
		height:auto;
	}

	.containerWidthMain {
		max-width: 94vw;
	}
}
